<?xml version="1.0" encoding="utf-8" ?>

<routes>
    <route path="/" action="index" controller="IndexController"/>
    <route path="signin" action="login" controller="LoginController"/>
    <route path="signup" action="SignUp" controller="SignupController"/>
    <route path="list" action="list" controller="ListController"/>
    <route path="post" action="post" controller="PostController" params="id"/>
    <route path="create" action="create" controller="CreateController"/>
    <route path="log" action="log" controller="LogController"/>
    
</routes>