<?xml version="1.0" encoding="utf-8" ?>

<routes>
    <route path="verifuser" action="index" controller="IndexController"/>
    <route path="signin" action="login" controller="LoginController"/>
    <route path="signup" action="SignUp" controller="SignupController"/>
    <route path="list" action="list" controller="ListController"/>
    <route path="post" action="post" controller="PostController" params="id"/>
    <route path="/" action="list" controller="ListController"/>
    <route path="post" action="post" controller="PostController" />
    <route path="create" action="create" controller="CreateController"/>
    <route path="createpost" action="createpost" controller="CreatePostController"/>
    <route path="createcomment" action="createcomment" controller="CreateCommentController"/>
    <route path="log" action="log" controller="LogController"/>
    <route path="delog" action="delog" controller="DelogController"/>
    <route path="postinput" action="postinput" controller="PostinputController"/>
    <route path="account" action="account" controller="AccountController"/>
    <route path="accountchange" action="accountchange" controller="AccountchangeController"/>
    <route path="userlist" action="userlist" controller="UserlistController"/>
    <route path="api" action="api" controller="ApiController"/>
    <!-- Si aucune des routes s'affiche alors on redirige vers / -->
    <route path="*" action="list" controller="ListController"/>

</routes>